lib-cov
*.seed
*.log
*.dat
*.out
*.pid
*.gz

pids
logs
results
tmp
tmp-final
level.db

npm-debug.log
node_modules
.vscode

chapters/*.xml
chapters/*.html
*.odt*

debug.txt
stdout.txt
stderr.txt

chapter-02/schedule.json
chapter-04/examples/stream/copie.js
chapter-07/examples/framework/assets/main.css
chapter-07/examples/sessions

dist
