*.log
debug.txt
stdout.txt
stderr.txt

.github
node_modules
dist/docs
dist/*.xml
dist/*.fodt
dist/*.odt
dist/dist

deploykey*
sandbox.md
book.adoc

docs
*.mp4
*.gif
chapter-*/**/*.png
chapter-*/**/*.jpg

chapter-04/examples/stream/copie.js
chapter-07/examples/framework/assets/main.css
chapter-07/examples/sessions
