<!DOCTYPE html>
<html lang="fr">
  <meta charset="utf-8">
  <head>
    <title>{{ title }}</title>        <!--1-->
  </head>
  <body>
    <h1>{{ title }}</h1>

    {% block content %}{% endblock %} <!--2-->
  </body>
</html>
