{
  "presets": [
    "react",
    [
      "env", {
        "loose": true,
        "useBuiltIns": true,
        "targets": {
          "ie": 9,
          "browsers": [
            "> 5%"
          ]
        }
      }
    ]
  ]
}
