#header,
#content,
#footer {
  margin: 2rem auto;
  max-width: 46rem;
}

#header {
  margin-top: 0;
}

.title,
#toctitle {
  color: var(--dark-accent);
}

a {
  /* white-space: nowrap; */
}

img, iframe, video, audio {
  max-width: 100%;
}

p {
  font-weight: normal;
}

/* Taken out from book.css */
dl dt {
  margin-bottom: 0.3125em;
  font-weight: bold;
}
dl dd {
  margin-bottom: 1.25em;
}

dt,
th.tableblock,
td.content,
div.footnote {
  text-rendering: optimizeLegibility;
}

.literalblock pre,
.literalblock pre[class],
.listingblock pre,
.listingblock pre[class] {
  overflow: auto;
  word-wrap: break-word;
}
.literalblock pre.nowrap,
.literalblock pre[class].nowrap,
.listingblock pre.nowrap,
.listingblock pre[class].nowrap {
  overflow-x: auto;
  white-space: pre;
  word-wrap: normal;
}

.listingblock {
  margin: 0 0 2em;
}
.listingblock > .content {
  position: relative;
}
.listingblock > .title {
  font-weight: bold;
}
.listingblock code[data-lang]::before {
  display: none;
  content: attr(data-lang);
  position: absolute;
  font-size: 0.75em;
  top: 1em;
  right: 1em;
  line-height: 1;
  text-transform: uppercase;
  color: #999;
}
.listingblock:hover code[data-lang]::before {
  display: block;
}
.listingblock.terminal pre .command::before {
  content: attr(data-prompt);
  padding-right: 0.5em;
  color: #999;
}

td.hdlist1,
td.hdlist2 {
  vertical-align: top;
  padding-right: 0.625em;
}
td.hdlist1 {
  font-weight: bold;
}
.literalblock + .colist,
.listingblock + .colist {
  margin-top: -1.5em;
}
.colist td:not([class]):first-child {
  padding: 0.4em 0.75em 0 0.75em;
  line-height: 1;
  vertical-align: top;
}
.colist td:not([class]):first-child img {
  max-width: none;
}
.colist td:not([class]):last-child {
  padding: 0.25em 0;
}

/* Custom classes */

.line-through {
  text-decoration: line-through;
}

.RemarquePreTitre,
#toctitle {
  font-style: normal;
  font-weight: bold;
}
  .RemarquePreTitre::after {
    content: "•";
    padding-left: 5px;
  }
.admonitionblock {
}
.admonitionblock > table,
.exampleblock {
  --commented: rgba(17, 17, 68, .65);
  --border-radius-base: 8px;

  background-color: #fafafa;
  border: 1px solid var(--dark-shade);
  border-left: none;
  border-right: none;
  margin: 1.5em 0;
  padding: 1em;
}
.exampleblock .title {
  font-weight: bold;
}
.icon .title {
  font-size: 2em;
}
  .admonitionblock > table td.icon {
    display: none;
  }

  @media screen and (min-width: 769px) {
    .admonitionblock > table td.icon {
      display: table-cell;
    }
  }

  .admonitionblock > table td.icon {
    padding-right: 1em;
  }
  .admonitionblock > table td.icon img {
    max-width: none;
  }

.colist ol {
  margin-left: 1.5em;  /* aligns with the listing edge */
  padding-left: 0;
  font-weight: bold;   /* makes it stand out more */
}
  .colist ol p {
    margin: 0 0 .5em;
  }
.listingblock:not(.prismjs) pre,
.language-bash.hljs {
  background: #323232;
  color: wheat;
  margin: 0;
  padding: 1rem;
}
.language-bash.hljs .hljs-built_in,
.language-bash.hljs .hljs-builtin-name {
  color: white;
}
.language-bash.hljs .hljs-string {
  color: lightgreen;
}
.language-bash.hljs .hljs-variable {
  color: lightskyblue;
}
.keyseq {
  font-weight: normal;
  white-space: nowrap;
}
.language-bash.hljs .keyseq {
  color: white;
}
.language-bash.hljs kbd {
  background: transparent;
  box-shadow: none;
  color: white;
  font-size: 0.8em;
  font-weight: bold;
  padding: 0.1em 0.4em;
}
.listingblock pre.highlightjs,
.listingblock pre.prismjs {
  background-color: transparent;
  margin: 0;
  padding: 0;
}
.listingblock pre.highlightjs > code,
.listingblock pre.prismjs > code {
  border-left: 4px solid var(--dark-accent);
  padding-left: 1em;
  font-size: .8em;
}
.listingblock pre.highlightjs > code.language-bash {
  border-left-color: limegreen;
}

.hdlist .hdlist1 {
  text-align: right;
  white-space: nowrap;
}

td > p:first-child {
  margin-top: 0;
}

.hljs-comment {
  font-style: normal !important;
}

#toc.toc2 a {
  text-decoration: none;
  white-space: normal;
}
  #toc.toc2 a:hover,
  #toc.toc2 a:focus {
    text-decoration: underline;
  }

#toc.toc2 ul {
  list-style: none;
}

  #toc.toc2 > ul {
    padding-left: 0;
  }

  #toc.toc2 ul ul {
    padding-left: 1em;
  }

@media screen and (min-width: 769px) {
  body {
    padding-left: 25vw !important;
  }

  #header,
  #content,
  #footer {
    margin-left: 0;
  }

  #toc.toc2 {
    height: 100%;
    left: 0;
    max-width: 20vw;
    overflow: auto;
    padding: 1rem;
    position: fixed;
    top: 0;
    z-index: 1000;
  }

  #toc.toc2 > ul {
    font-size: 0.85em;
  }

  #toc li.active > a[href^="#"],
  [id]:target {
    background: #ffc;
  }
}

.admonitionblock.context-callout > table {
  border-width: 5px;
  border-color: var(--brand-color);
}
